body {
    background: #F29D5E;
}

#intro{
  width: 100vw;
  height: 100vw;
  /* display: none; */
  background-image: url("images/june.png");
  background-size:contain;
  text-align: center;
  font-size:10vw;
}

main {
    padding: 2%;
}

#centerWindow {
    margin: auto;
    width: 40vw;
    height: 40vw;
}

.border {
    background:#ffdfbf;
    border-color:black;
    border-style:solid;
    border-width: 2px;
    /* width:fit-content; */
  }
  
  .topbar {
    border: black;
    border-style: solid ;
    border-width: 2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  } 
  .closeBar{
    text-align: right;
    float: right;
  }

  .content{
    padding: 3%;
    text-align: center;
  }

  #sideCat1{
    height: 20vw;
    width: 20vw;
  }

  #gallery{
    height: 20vw;
    width: 20vw;
  }